 <h2 class="badge badge-primary" *ngIf="this.mservice.onSearchByCat[0]">Categoria : {{this.mservice.onSearchByCat[1]}} <fa-icon [icon]="faTimes" (click)=close()></fa-icon></h2>
  <h2 class="badge badge-warning"  *ngIf="this.mservice.onSearchByTag[0]">Tag : {{this.mservice.onSearchByTag[1]}} <fa-icon [icon]="faTimes" (click)=close()></fa-icon></h2>
<div *ngFor="let article of articles | paginate:{itemsPerPage: 5, currentPage:p}" class="card">
  <h3 class="card-title text-center">{{article.title}}</h3>
  <img class="card-img-top" src="{{article.img != null ? 'http://127.0.0.1:8000/'+article.img : mservice.nullSrc}}" alt="Card image cap" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-subtitle">Di {{article.author?.name}}</h5>
    <p class="card-text">{{article.content?.slice(0,100)+'...'}}</p>
    <div *ngIf="!this.mservice.onSearchByCat[0] && !this.mservice.onSearchByTag[0] ">
    <ul class="categories">
      <li *ngFor="let category of article.categories">
        <span class="badge badge-primary" (click)=searchByCat(category.name)>{{category.slug}}</span>
      </li>
    </ul>
    <ul class="tags">
      <li *ngFor="let tag of article.tags">
        <span class="badge badge-warning" (click)=searchByTag(tag.name)>{{tag.slug}}</span>
      </li>
    </ul>
  </div>
    <a href="javascript:void(0)" [routerLink]="['/articles',article.id]" class="btn btn-primary">Vai all'articolo</a>
  </div>
</div>
<div id="pagination">
  <pagination-controls (pageChange)="p=$event"></pagination-controls>
</div>

