ul {
  display:flex;
  list-style: none;
}
.comments,.replies{
  display:block;
}
.card{
opacity:0.8;
padding:20px;
&-img-top{
  float:left;
  width:200px;
  height:auto;
  margin:0 20px;
}
&-text{
  text-align: justify;
}
}
.comments li {
  margin-bottom:20px;
}
a {
  cursor: pointer;
}
.reply-block,.reply{
  margin-top:10px;
  button{
    font-style: italic;
    width:max-content;
  }
}

.reply-block button {
  margin-left:40px;
}
.article-details {
  margin-bottom:10px;
  h5{
margin-bottom:0;
margin-right:5px;
  }
}
