ul {
  display:flex;
  list-style: none;
}
.comments,.replies{
  display:block;
}
.card{
opacity:0.8;
padding:20px;
&-img-top{
  float:left;
  width:200px;
  height:auto;
  margin:0 20px;
}
&-text{
  text-align: justify;
}
}
.comments li {
  margin-bottom:20px;
}
.comments li a {
  cursor: pointer;
}
